<!--
    This root NuGet.config ensures that a global/default one is not used by accident.
    The individual repo NuGet.config files are utilized during the actual build.
    This one is used by the smoke tests to restore packages such as xunit.
-->
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
