# this file is never used during the tests that test esproj support,
# but is placed here to satisfy compilance rules for NPM usage.
registry=https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public-npm/npm/registry/

always-auth=true
