<?xml version="1.0"?>
<RuleSet Name="Microsoft Extended Correctness Rules" Description="These rules expand on the basic correctness rules to maximize the logic and framework usage errors that are reported. Extra emphasis is placed on specific scenarios such as COM interop and mobile applications. Consider including this rule set if one of these scenarios applies to your project or to find additional problems in your project." ToolsVersion="10.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1032" Action="Warning" />
    <Rule Id="CA1054" Action="Warning" />
    <Rule Id="CA1055" Action="Warning" />
    <Rule Id="CA1056" Action="Warning" />
    <Rule Id="CA1057" Action="Warning" />
    <Rule Id="CA1402" Action="Warning" />
    <Rule Id="CA1406" Action="Warning" />
    <Rule Id="CA1407" Action="Warning" />
    <Rule Id="CA1408" Action="Warning" />
    <Rule Id="CA1409" Action="Warning" />
    <Rule Id="CA1411" Action="Warning" />
    <Rule Id="CA1412" Action="Warning" />
    <Rule Id="CA1413" Action="Warning" />
    <Rule Id="CA1414" Action="Warning" />
    <Rule Id="CA1600" Action="Warning" />
    <Rule Id="CA1601" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1824" Action="Warning" />
    <Rule Id="CA2001" Action="Warning" />
    <Rule Id="CA2003" Action="Warning" />
    <Rule Id="CA2135" Action="Warning" />
    <Rule Id="CA2136" Action="Warning" />
    <Rule Id="CA2139" Action="Warning" />
    <Rule Id="CA2142" Action="Warning" />
    <Rule Id="CA2143" Action="Warning" />
    <Rule Id="CA2144" Action="Warning" />
    <Rule Id="CA2145" Action="Warning" />
    <Rule Id="CA2204" Action="Warning" />
    <Rule Id="CA2211" Action="Warning" />
    <Rule Id="CA2217" Action="Warning" />
    <Rule Id="CA2218" Action="Warning" />
    <Rule Id="CA2219" Action="Warning" />
    <Rule Id="CA2225" Action="Warning" />
    <Rule Id="CA2228" Action="Warning" />
    <Rule Id="CA2230" Action="Warning" />
    <Rule Id="CA2233" Action="Warning" />
    <Rule Id="CA2234" Action="Warning" />
    <Rule Id="CA2243" Action="Warning" />
  </Rules>
</RuleSet>
