<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-libraries" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-libraries/nuget/v3/index.json" />
    <add key="dotnet-libraries-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-libraries-transport/nuget/v3/index.json" />
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
    <add key="dotnet8-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8-transport/nuget/v3/index.json" />
    <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
    <add key="dotnet9-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9-transport/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
  </packageSources>
  <!-- Define mappings by adding package patterns beneath the target source. -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="dotnet-eng">
      <package pattern="MicroBuild.*" />
      <package pattern="Microsoft.*" />
      <package pattern="sn" />
      <package pattern="xunit*" />
    </packageSource>
    <packageSource key="dotnet-libraries">
      <package pattern="System.*" />
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="dotnet-libraries-transport">
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="dotnet9">
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="dotnet9-transport">
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="dotnet8">
      <package pattern="System.*" />
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="dotnet8-transport">
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.*" />
      <package pattern="NuGet.*" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="BenchmarkDotNet*" />
      <package pattern="CommandlineParser" />
      <package pattern="coverlet.collector" />
      <package pattern="DiffPlex" />
      <package pattern="Gee.External.Capstone" />
      <package pattern="Grpc.*" />
      <package pattern="Google.Protobuf" />
      <package pattern="Humanizer.Core" />
      <package pattern="Iced" />
      <package pattern="MicroBuild.*" />
      <package pattern="Microsoft.*" />
      <package pattern="MSTest.*" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="NuGet.*" />
      <package pattern="NUnit*" />
      <package pattern="Perfolizer" />
      <package pattern="runtime.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="System.*" />
      <package pattern="vswhere" />
      <package pattern="xunit*" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources />
</configuration>
