<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-libraries" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-libraries/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
  </packageSources>
  <!-- Define mappings by adding package patterns beneath the target source. -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="dotnet-eng">
      <package pattern="MicroBuild.Core.Sentinel" />
      <package pattern="Microsoft.DotNet.*" />
      <package pattern="Microsoft.SymbolUploader.Build.Task" />
      <package pattern="sn" />
      <package pattern="xunit*" />
    </packageSource>
    <packageSource key="dotnet-libraries">
      <package pattern="System.CommandLine*" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.Build.Tasks.Git" />
      <package pattern="Microsoft.CodeAnalysis*" />
      <package pattern="Microsoft.DiaSymReader*" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Microsoft.SourceLink.*" />
      <package pattern="NuGet.*" />
    </packageSource>
    <packageSource key="dotnet7">
      <package pattern="Microsoft.AspNetCore.App.*" />
      <package pattern="Microsoft.NETCore.App.*" />
      <package pattern="Microsoft.WindowsDesktop.App.*" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="BenchmarkDotNet*" />
      <package pattern="CommandlineParser" />
      <package pattern="DiffPlex" />
      <package pattern="Humanizer.Core" />
      <package pattern="Iced" />
      <package pattern="MicroBuild.Core" />
      <package pattern="Microsoft.*" />
      <package pattern="Microsoft.CodeAnalysis*" />
      <package pattern="Microsoft.DiaSymReader*" />
      <package pattern="Microsoft.DotNet.*" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="NuGet.Resolver" />
      <package pattern="Perfolizer" />
      <package pattern="runtime.*" />
      <package pattern="System.*" />
      <package pattern="vswhere" />
      <package pattern="xunit*" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources />
</configuration>
