<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <packageSources>
    <clear />
    <add key="reference-packages" value="%reference-packages%" />
    <add key="previously-source-built" value="%previously-source-built%" />
    <add key="prebuilt" value="%prebuilt%" />
    <add key="source-build-reference-package-cache" value="%source-build-reference-package-cache%" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="source-build-reference-package-cache">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
    </packageSource>
    <packageSource key="reference-packages">
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
    </packageSource>
    <packageSource key="previously-source-built">
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
    </packageSource>
    <packageSource key="prebuilt">
      <package pattern="prebuilt.package" />
    </packageSource>
  </packageSourceMapping>
</configuration>