<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="source-built-runtime" value="%runtime%" />
    <add key="source-built-arcade" value="%arcade%" />
    <add key="reference-packages" value="%reference-packages%" />
    <add key="previously-source-built" value="%previously-source-built%" />
    <add key="prebuilt" value="%prebuilt%" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="dotnet6-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6-transport/nuget/v3/index.json" />
    <add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" />
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
    <add key="dotnet8-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8-transport/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
    <add key="vssdk-archived" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk-archived/nuget/v3/index.json" />
    <add key="vs-impl" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json" />
    <add key="vs-impl-archived" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl-archived/nuget/v3/index.json" />
    <add key="richnav" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-buildservices/nuget/v3/index.json" />
    <add key="benchmark-dotnet-prerelease" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/benchmark-dotnet-prerelease/nuget/v3/index.json" />
  </packageSources>
  <!--
    ****************************** AUTOGENERATED ***********************************
    Can re-generate these package source mappings by following the guide here:
    https://devblogs.microsoft.com/nuget/quickly-map-your-nuget-packages-to-sources/

    In addition, once generated add the following to the top of the generated package
    source mapping if it doesn't already existe:

    <packageSource key="dotnet-core-internal-tooling">
      <package pattern="microsoft.*" />
    </packageSource>
    <packageSource key="richnav">
      <package pattern="richcodenav.envvardump" />
    </packageSource>
  -->
  <packageSourceMapping>
    <clear />
    <packageSource key="source-built-runtime">
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
    </packageSource>
    <packageSource key="source-built-arcade">
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
    </packageSource>
    <packageSource key="reference-packages">
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
    </packageSource>
    <packageSource key="previously-source-built">
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
    </packageSource>
    <packageSource key="prebuilt">
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="dotnet-core-internal-tooling">
      <package pattern="microsoft.*" />
    </packageSource>
    <packageSource key="richnav">
      <package pattern="richcodenav.envvardump" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="microsoft.*" />
      <package pattern="sn" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="microsoft.*" />
      <package pattern="nuget.common" />
      <package pattern="nuget.configuration" />
      <package pattern="nuget.dependencyresolver.core" />
      <package pattern="nuget.frameworks" />
      <package pattern="nuget.librarymodel" />
      <package pattern="nuget.packaging" />
      <package pattern="nuget.packaging.core" />
      <package pattern="nuget.projectmodel" />
      <package pattern="nuget.protocol" />
      <package pattern="nuget.versioning" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="dotnet6-transport">
      <package pattern="microsoft.net.sdk.razor" />
      <package pattern="microsoft.extensions.noncapturingtimer.sources" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="dotnet7">
      <package pattern="microsoft.ilverification" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="dotnet8">
      <package pattern="microsoft.*" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="dotnet8-transport">
      <package pattern="microsoft.*" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="basic.reference.assemblies" />
      <package pattern="basic.reference.assemblies.*" />
      <package pattern="castle.core" />
      <package pattern="commandlineparser" />
      <package pattern="diffplex" />
      <package pattern="fluentassertions" />
      <package pattern="gee.external.capstone" />
      <package pattern="humanizer.core" />
      <package pattern="iced" />
      <package pattern="icsharpcode.decompiler" />
      <package pattern="messagepack" />
      <package pattern="messagepack.annotations" />
      <package pattern="messagepackanalyzer" />
      <package pattern="microbuild.core" />
      <package pattern="microsoft.*" />
      <package pattern="microsoft.ilverification" />
      <package pattern="moq" />
      <package pattern="mstest.testadapter" />
      <package pattern="mstest.testframework" />
      <package pattern="nerdbank.streams" />
      <package pattern="netstandard.library" />
      <package pattern="newtonsoft.json" />
      <package pattern="nuget.common" />
      <package pattern="nuget.configuration" />
      <package pattern="nuget.frameworks" />
      <package pattern="nuget.packaging" />
      <package pattern="nuget.protocol" />
      <package pattern="nuget.resolver" />
      <package pattern="nuget.solutionrestoremanager.interop" />
      <package pattern="nuget.versioning" />
      <package pattern="perfolizer" />
      <package pattern="powershell" />
      <package pattern="roslyn.diagnostics.analyzers" />
      <package pattern="runtime.*" />
      <package pattern="streamjsonrpc" />
      <package pattern="system.*" />
      <package pattern="vswhere" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="vssdk">
      <package pattern="microsoft.*" />
      <package pattern="streamjsonrpc" />
      <package pattern="envdte" />
      <package pattern="envdte80" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="vssdk-archived">
      <package pattern="microsoft.*" />
      <package pattern="streamjsonrpc" />
      <package pattern="envdte" />
      <package pattern="envdte80" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="vs-impl">
      <package pattern="microbuild.core.sentinel" />
      <package pattern="microsoft.*" />
      <package pattern="microsoft.commonlanguageserverprotocol.*" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="vs-impl-archived">
      <package pattern="microbuild.core.sentinel" />
      <package pattern="microsoft.*" />
      <package pattern="microsoft.commonlanguageserverprotocol.*" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="benchmark-dotnet-prerelease">
      <package pattern="benchmarkdotnet" />
      <package pattern="benchmarkdotnet.annotations" />
      <package pattern="benchmarkdotnet.diagnostics.windows" />
      <package pattern="runtime.package1" />
      <package pattern="runtime.package2" />
      <package pattern="arcade.package1" />
      <package pattern="arcade.package2" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>