<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <packageSources>
    <clear />
    <add key="reference-packages" value="%reference-packages%" />
    <add key="previously-source-built" value="%previously-source-built%" />
    <add key="prebuilt" value="%prebuilt%" />
    <add key="source-build-reference-package-cache" value="%source-build-reference-package-cache%" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet5" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json" />
    <add key="dotnet5-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5-transport/nuget/v3/index.json" />
    <add key="dotnet6" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json" />
    <add key="dotnet6-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6-transport/nuget/v3/index.json" />
    <add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" />
    <add key="dotnet7-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7-transport/nuget/v3/index.json" />
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
    <add key="dotnet8-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8-transport/nuget/v3/index.json" />
    <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
    <add key="dotnet9-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9-transport/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="source-build-reference-package-cache">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
    </packageSource>
    <packageSource key="reference-packages">
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
    </packageSource>
    <packageSource key="previously-source-built">
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
    </packageSource>
    <packageSource key="prebuilt">
      <package pattern="prebuilt.package" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet5">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet5-transport">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet6">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet6-transport">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet7">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet7-transport">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet8">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet8-transport">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet9">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet9-transport">
      <package pattern="sbrp.repo.package1" />
      <package pattern="sbrp.repo.package2" />
      <package pattern="sbrp.repo.package3" />
      <package pattern="sbrp.repo.package4" />
      <package pattern="reference.package1" />
      <package pattern="reference.package2" />
      <package pattern="psb.package1" />
      <package pattern="psb.package2" />
      <package pattern="prebuilt.package" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>