<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="invalid_source" value="https://api.nuget.org/v3/invalid.json" />
    <add key="invalid_source_2" value="https://api.nuget.org/v3/invalid-2.json" />
  </packageSources>
</configuration>