<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the MIT license. See License.txt in the project root for full license information. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle Name="$(ProductName)" Manufacturer="$(Manufacturer)" Version="$(BundleVersion)" UpgradeCode="$(UpgradeCode)" AboutUrl="https://aka.ms/netcorehelp/"
          Compressed="yes">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseFile="..\..\dummyeula.rtf"
                                              LocalizationFile="LCID\1033\bundle.wxl"
                                              ShowVersion="yes"
                                              SuppressDowngradeFailure="yes"
                                              SuppressOptionsUI="yes"
                                              Theme="rtfLicense"
                                              ThemeFile="bundle.thm" />

      <?foreach LCID in 1028;1029;1031;1036;1040;1041;1042;1045;1049;1055;2052;3082?>
      <Payload Id="thm_$(LCID)" Compressed="yes" Name="$(LCID)\thm.wxl" SourceFile="LCID\$(LCID)\bundle.wxl" />
      <?endforeach?>

      <Payload Name="DotNetLogo_256x.png" Compressed="yes" SourceFile="DotNetLogo_256x.png" />
      <Payload Name="dotnet.ico" Compressed="yes" SourceFile="..\..\dotnet.ico" />
    </BootstrapperApplication>

    <!-- Do not use ProgramFiles6432Folder. It defaults to CSIDL_PROGRAM_FILES and will write
         the tag to Program Files when installing the x86 SDK on 64-bit OS. -->
    <?if $(TargetArchitecture)~=x86?>
    <SoftwareTag Regid="microsoft.com" InstallPath="[ProgramFilesFolder]dotnet" />
    <?else?>
    <SoftwareTag Regid="microsoft.com" InstallPath="[ProgramFiles64Folder]dotnet" />
    <?endif?>

    <!-- Search references for upgrade policy keys -->
    <util:RegistrySearchRef Id="RemovePreviousVersionRegistryKeySearch"/>
    <util:RegistrySearchRef Id="RemoveSpecificPreviousVersionRegistryKeyExistsSearch"/>
    <util:RegistrySearchRef Id="RemoveSpecificPreviousVersionRegistryKeySearch"/>

    <Variable Name="BUNDLEMONIKER" Type="string" Value="$(SdkBrandName)" bal:Overridable="no" />
    <Variable Name="DOTNETSDKVERSION" Type="string" Value="$(Version)" bal:Overridable="no" />
    <Variable Name="DOTNETRUNTIMEVERSION" Type="string" Value="$(DotNetRuntimeVersion)" bal:Overridable="no" />
    <Variable Name="ASPNETCOREVERSION" Type="string" Value="$(AspNetCoreVersion)" bal:Overridable="no" />
    <Variable Name="WINFORMSANDWPFVERSION" Type="string" Value="$(WinFormsAndWpfVersion)" bal:Overridable="no" />
    <Variable Name="VERSIONMAJOR" Type="string" Value="$(MajorVersion)" bal:Overridable="no" />
    <Variable Name="VERSIONMINOR" Type="string" Value="$(MinorVersion)" bal:Overridable="no" />
    <Variable Name="MINIMUMVSVERSION" Type="string" Value="$(MinimumVSVersion)" bal:Overridable="no" />

    <Chain DisableSystemRestore="yes" ParallelCache="yes">

      <!--
        The finalizer is not an installation package. It's detected based on the bundle's installation state (WixBundleInstalled).

        User action        | Install | Repair  | Modify  | Uninstall | Uninstall (Upgrade)
        WixBundleInstalled | FALSE   | TRUE    | TRUE    | TRUE      | TRUE
        WixBundleAction    | 6       | 8       | 7       | 4         | 4
        Finalizer (Plan)   | None    | Execute | Execute | Execute   | Execute

        Setting an InstallCondition will cause Burn to remove the package if it evaluates to FALSE and
        the bundle is being installed, repaired, or modified. This breaks upgrades. We cannot use
        WixBundleAction in the DetectCondition because it's not finalized until the planning phase completes (after
        the detect phase). See https://github.com/orgs/wixtoolset/discussions/9017 for more detail.

        The finalizer also takes the bundle action as a parameter to ensure it no-ops, but logs the action. -->
      <ExePackage SourceFile="$(FinalizerExeSourceFile)"
                  Bundle="no"
                  Cache="keep"
                  DetectCondition="WixBundleInstalled"
                  Id="Finalizer"
                  InstallArguments="&quot;[WixBundleLog_Finalizer]&quot; $(Version) $(TargetArchitecture) [WixBundleAction]"
                  UninstallArguments="&quot;[WixBundleLog_Finalizer]&quot; $(Version) $(TargetArchitecture) [WixBundleAction]"
                  RepairArguments="&quot;[WixBundleLog_Finalizer]&quot; $(Version) $(TargetArchitecture) [WixBundleAction]"
                  Vital="no" />

      <!-- .NET Runtime has to be installed before the CLI because of a custom action that depends on dotnet.exe. -->
      <PackageGroupRef Id="PG_DotNet"/>

      <MsiPackage SourceFile="$(TemplatesMsiSourceFile)">
        <MsiProperty Name="ALLOWMSIINSTALL" Value="True" />
      </MsiPackage>

      <MsiPackage SourceFile="$(SdkMsiSourceFile)">
        <MsiProperty Name="EXEFULLPATH" Value="[WixBundleOriginalSource]" />
        <MsiProperty Name="ALLOWMSIINSTALL" Value="True" />
      </MsiPackage>

      <?if $(IncludeWorkloadManifests)=true?>
      <PackageGroupRef Id="PG_WorkloadManifests" />
      <?endif?>
    </Chain>
  </Bundle>
</Wix>
