<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <!-- Bundle variables become unset if a search fails. The global key is retrieved first. If this fails,
         RemoveUpgradeRelatedBundle becomes unset, allowing the version specific search to potentially set 
         or override the bundle variable. -->
    <util:RegistrySearch Id="RemovePreviousVersionRegistryKeySearch"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\.NET"
                         Value="RemovePreviousVersion"
                         Result="value"
                         Variable="RemoveUpgradeRelatedBundle"
                         Bitness="always64" />

    <!-- The version specific key matching the major/minor of the .NET bundle takes precedence. The first search
         checks whether the registry value exists and creates a variable that can be used as a condition
         to executes the second part of the search to retrieve it. If the value doesn't exist, RemoveUpgradeRelatedBundle
         retains its original value, or if it wasn't set, will be assigned a proper default through the BA (wixstdba). -->
    <util:RegistrySearch Id="RemoveSpecificPreviousVersionRegistryKeyExistsSearch" 
                         After="RemovePreviousVersionRegistryKeySearch"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\.NET\$(MajorVersion).$(MinorVersion)"
                         Value="RemovePreviousVersion"
                         Result="exists"
                         Variable="RemoveSpecificPreviousVersionRegistryKeyExists"
                         Bitness="always64" />
    <util:RegistrySearch Id="RemoveSpecificPreviousVersionRegistryKeySearch"
                         After="RemoveSpecificPreviousVersionRegistryKeyExistsSearch"
                         Condition="RemoveSpecificPreviousVersionRegistryKeyExists=1"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\.NET\$(MajorVersion).$(MinorVersion)"
                         Value="RemovePreviousVersion"
                         Result="value"
                         Variable="RemoveUpgradeRelatedBundle"
                         Bitness="always64" />
  </Fragment>
</Wix>
