<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="BlobFeed" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/packages/index.json" />
  </packageSources>
</configuration>
