<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <packageSources>
    <clear />
    <add key="reference-packages" value="%reference-packages%" />
    <add key="previously-source-built" value="%previously-source-built%" />
    <add key="prebuilt" value="%prebuilt%" />
    <add key="source-build-reference-package-cache" value="%source-build-reference-package-cache%" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>