<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="net-sdk-supporting-feed" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
    <add key="source-built-runtime" value="%runtime%" />
    <add key="source-built-arcade" value="%arcade%" />
    <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="dotnet-core-internal-tooling">
      <package pattern="microsoft.*" />
    </packageSource>
    <packageSource key="dotnet9">
      <package pattern="microsoft.*" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="basic.reference.assemblies.*" />
      <package pattern="microbuild.core" />
      <package pattern="microsoft.*" />
      <package pattern="nuget.common" />
      <package pattern="system.*" />
      <package pattern="vswhere" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
    <packageSource key="vssdk">
      <package pattern="microsoft.*" />
      <package pattern="streamjsonrpc" />
      <package pattern="envdte" />
      <package pattern="envdte80" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>