name: PR Analysis
on:
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]
permissions:
  contents: read
  pull-requests: read
jobs:
  allowed-labels:
    runs-on: ubuntu-latest
    steps:
      - name: Return error if blocking labels are present in PR
        run: echo "Labels on this PR prevent it from being merged. Please contact the repo owners for more information." && exit 1
        if: ${{ contains(github.event.pull_request.labels.*.name, 'Branch Lockdown') || contains(github.event.pull_request.labels.*.name, 'DO NOT MERGE') || contains(github.event.pull_request.labels.*.name, 'Servicing-consider') || contains(github.event.pull_request.labels.*.name, 'Servicing-more-info') || contains(github.event.pull_request.labels.*.name, 'Servicing-rejected') }}
