name: 'Stale: Label and Close Issues'
on:
  schedule:
    - cron: '19 4,16 * * *' # Twice daily at 19 minutes after the hour (random/uncommon time)

permissions:
  actions: write # For managing the operation state cache
  issues: write
  pull-requests: write

jobs:
  stale:
    if: github.repository_owner == 'dotnet' # Do not run on forks

    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9 # https://github.com/actions/stale/blob/v9/README.md
        with:
          ascending: true # Process the oldest issues first
          stale-issue-message: "Due to lack of recent activity, this issue has been labeled as 'Stale'. It will be closed if no further activity occurs within 30 more days. Any new comment will remove the label."
          stale-pr-message: "Due to lack of recent activity, this PR has been labeled as 'Stale'. It will be closed if no further activity occurs within 7 more days. Any new comment will remove the label."
          days-before-issue-stale: 1827 # ~5 years
          days-before-issue-close: 30
          days-before-pr-stale: 80 # 6 months
          days-before-pr-close: 7
          operations-per-run: 4000
